@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;600&family=Cormorant+Garamond:wght@300;400;500&family=Mulish:wght@200;300;400;500&family=Open+Sans+Condensed:wght@300&family=Roboto+Serif:ital,wght@0,100;0,200;0,300;1,100;1,200&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;600&family=Cormorant+Garamond:wght@300;400;500&family=Mulish:wght@200;300;400;500&family=Open+Sans+Condensed:wght@300&family=Roboto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap");
.paragraph-content {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  /* font-family: 'Roboto Serif', sans-serif; */
  color: #000000;
}
.row-color {
  background-image: linear-gradient(to bottom right, #7e1d7c, #7a697a);
  padding-top: 30px;
  margin: 2px;
}
li {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  padding: 10.5px 17.5px;
}
h3 {
  font-size: 22px;
  font-family: "Roboto", sans-serif;
}
.title {
  font-size: 40px;
  color: #666666;
  font-weight: 300px;
}
@media only screen and (max-width: 1032px) {
  .paragraph-content {
    text-align: justify;
    flex-grow: 1;
  }
  .title {
    text-align: justify;
    word-spacing: -0.1rem;
  }
}
@media only screen and (max-width: 375px) {
  .title {
    text-align: justify;
    word-spacing: normal;
    font-size: 28px;
  }
}
@media only screen and (max-width: 425px) {
  .title {
    text-align: justify;
    word-spacing: -3px;
    font-size: 32px;
  }
  .paragraph-content {
    text-align: justify;
  }
}
@media only screen and (max-width: 834px) and (min-width: 500px) {
  .title {
    text-align: justify;
    word-spacing: -3px;
    font-size: 32px;
  }
}
@media only screen and (max-width: 320px) {
  .title {
    text-align: justify;
    word-spacing: -2px;
    font-size: 23px;
  }
}
@media only screen and (max-width: 375px) {
  .title {
    text-align: justify;
    word-spacing: -2px;
    font-size: 23px;
  }
}
